<nav class="Navbar">
  <a class="Navbar__toggle" id="toggleDrawer" href="#">
    <img src="https://icon.now.sh/menu/24/333333" alt="Open menu">
    <img class="u-hidden" src="https://icon.now.sh/close/24/333333" alt="Close menu">
  </a>
  <h1 class="Navbar__brand">
    <img class="Navbar__logo" src='https://icon.now.sh/amazon/24/19a974' alt=""> Affiliate Store
  </h1>
  <ul class="Navbar__menu">
    <li class="Navbar__item"><a href="#">About</a></li>
    <li class="Navbar__item"><a href="#">Advertise</a></li>
    <li class="Navbar__item"><a href="#">Submit</a></li>
    <li class="Navbar__item">
      <a id="toggleCart" href="#">
        <img src="https://icon.now.sh/shopping_cart/24/333333" alt="Open shopping cart">
        <img class="u-hidden" src="https://icon.now.sh/close/24/333333" alt="Close shopping cart">
        <span class="Navbar__count sc-cart-count u-hidden">0</span>
      </a>
    </li>
  </ul>
</nav>