<nav class="Navbar">
  <h1 class="Navbar__brand">
    <img class="Navbar__logo" src='https://icon.now.sh/amazon/24/19a974' alt=""> Affiliate Store
  </h1>
  <ul class="Navbar__menu">
    <li class="Navbar__item"><a href="#">About</a></li>
    <li class="Navbar__item"><a href="#">Advertise</a></li>
    <li class="Navbar__item"><a href="#">Submit</a></li>
    <li class="Navbar__item">
      <a href="#" id="toggleCart">
        <img src="https://icon.now.sh/shopping_cart/24/19a974" alt="Open shopping cart">
        <img class="u-hidden" src="https://icon.now.sh/close/24/19a974" alt="Close shopping cart">
      </a>
    </li>
  </ul>
</nav>