.Cart {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  @include flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba($modal-color, .5);
  opacity: 0;
  transition: opacity $transition-duration ease-in;
  pointer-events: none;

  &--open {
    pointer-events: auto;
    opacity: 1;
  }
}

.Cart__form {
  width: 75%;
  height: 75%;
  margin-top: m(5);
}

.Cart__content {
  @include flex;
  @include flex-column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: p(3) p(4) p(4);
  background-color: $cart-color;
  border-radius: $br-rounded;
  @include shadow;
}

.Cart__title {
  @include flex;
  align-items: center;
  margin-bottom: 0;
}

.Cart__count {
  @include inline-flex;
  justify-content: center;
  align-items: center;
  margin-left: m(3);
  margin-bottom: -(m(2));
  width: w(2);
  height: h(2);
  font-size: fs(2);
  color: $inverted-text-color;
  background-color: $brand-color;
  border-radius: $br-circle;
}

.Cart__body {
  @include flex;
  @include flex-column;
  flex: 1;
  overflow: auto;
  margin: p(3) 0;
}

.Cart__empty {
  @include flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-bottom: 0;
  font-weight: $fw-normal;
  text-align: center;
  color: $secondary-text-color;
}

.Cart__footer {
  @include flex;
  justify-content: flex-end;
  align-items: center;
}

.Cart__subtotal {
  @include flex;
  align-items: center;
}

.Cart__amount {
  margin-right: m(4);
  margin-bottom: 0;
}