.Footer {
  @include flex;
  justify-content: center;
  align-items: center;
  height: h(3);
  background-color: $bg-color;
  border-top: 1px solid $border-color;
}

.Footer__text {
  padding: 0 p(4);
  margin-bottom: 0;
  font-size: fs(1);
  text-align: center;

  @include break("ns") {
    padding: 0 p(5);
    font-size: fs(2);
  }
  
  > a {
    @include dim;
  }
}