.Navbar {
  position: fixed;
  top: 0;
  z-index: 2;
  @include flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: h(3);
  padding: 0 p(5);
  background-color: $nav-color;
  @include shadow;
}

.Navbar__brand {
  @include flex;
  align-items: center;
  margin-bottom: 0;
  font-size: fs(3);
}

.Navbar__logo {
  margin-right: m(3);
  margin-bottom: -(m(1));
}

.Navbar__menu {
  @include flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

.Navbar__item {
  font-weight: $fw-semibold;

  &:not(:first-child) {
    margin-left: m(4);
  }
  
  > a {
    @include flex;
    @include dim;
  }
}