@mixin flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@mixin inline-flex {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

@mixin flex-auto {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  min-width: 0;
  min-height: 0;
}

@mixin flex-none {
  -webkit-box-flex: 0;
  -ms-flex: none;
  flex: none;
}

@mixin flex-wrap {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap
}

@mixin flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

@mixin flex-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row; 
}

@mixin order-last {
  -webkit-box-ordinal-group: 100000;
  -ms-flex-order: 99999;
  order: 99999;
}

@mixin grid($gutter: 4) {
  @include flex;
  margin: -(m($gutter - 1));
}

@mixin col($cols: 0, $gutter: 4) {
  @if $cols == 0 {
    @include flex-auto;
  } @else {
    -ms-flex: 0 0 $cols / $grid-cols * 100%;
    flex: 0 0 $cols / $grid-cols * 100%;
  }
  padding: p($gutter - 1);
}

@mixin dim {
  transition: opacity $transition-duration ease-in;
  
  &:focus,
  &:hover {
    opacity: $opacity-hover;
  }
}

@mixin darken($color) {
  transition: background-color $transition-duration ease-in;

  &:focus,
  &:hover {
    background-color: darken($color, 20%);
  }
}

@mixin shadow {
  box-shadow: 0 p(1) p(2) rgba($shadow-color, $shadow-opacity);
}

@mixin card-hover($color) {
  transition: background-color $transition-duration ease-in,
              box-shadow $transition-duration ease-in,
              transform $transition-duration ease-in;
  
  &:focus,
  &:hover {
    background-color: darken($color, 20%);
    box-shadow: p(1) p(2) p(3) rgba($shadow-color, $shadow-opacity-hover);
    transform: translateY(-(p(1)));
  }
}

@mixin break($point) {
  @if $point == "sm" {
    @media screen and (max-width: $breakpoint-md) {
      @content;
    }
  } @else if $point == "ns" {
    @media screen and (min-width: $breakpoint-md) {
      @content;
    }
  } @else if $point == "md" {
    @media screen and (min-width: $breakpoint-md) and (max-width: $breakpoint-lg) {
      @content;
    }
  } @else if $point == "lg" {
    @media screen and (min-width: $breakpoint-lg)  {
      @content;
    }
  }
}