body {
  font-family: $system-font;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-weight: $fw-bold;
  line-height: $lh-title;
}

h1 {
  font-size: fs(6);
}

h2 {
  font-size: fs(5);
}

h3 {
  font-size: fs(4);
}

h4 {
  font-size: fs(3);
}

h5 {
  font-size: fs(2);
}

p,
li {
  margin-top: 0;
  font-size: fs(2);
  line-height: $lh-copy;
}

a {
  text-decoration: none;
}

button, input {
  font-family: $system-font;
}