.u-hidden {
  display: none !important;
}

.u-hidden-sm {
  @include break("sm") {
    display: none !important;
  }
}

.u-hidden-ns {
  @include break("ns") {
    display: none !important;
  }
}

.u-noscroll {
  overflow: hidden;
}